:root {
  --primary-color: #990011;
  --primary-color-transparent: #9900113d;
  --secondary-color: #fcf6f5;
  --accent-light: 224, 204, 250;
  --accent-dark: 49, 10, 101;
  --accent-gradient: linear-gradient(
    45deg,
    rgb(var(--accent)),
    rgb(var(--accent-light)) 30%,
    white 60%
  );
  --header-size: 55px;
}

main {
  margin: auto;
  padding-top: var(--header-size); /* Header's height*/
  width: 90vw;
  max-width: calc(100% - 2rem);
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 1em;
}

html {
  --bkg-color: #fcf6f5;
  --text-color: #3b3a3a;
}

html.dark {
  --bkg-color: #121212;
  --text-color: #fcf6f5;
}

html {
  font-family: "Titillium Web", monospace, sans-serif;
  background-color: var(--bkg-color);
  background-size: 224px;
}

html.dark {
  background-color: var(--bkg-color);
  color: #fff;
}
