---
import NextRace from '../components/NextRaceInfo.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/home.css'

---

<Layout title="F1-corner">
	<h1>F1 Corner</span></h1>
	<section>
		<NextRace />
	</section>
</Layout>

