---
import NextRace from '../components/NextRaceInfo.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/home.css'

---

<Layout title="F1-corner">
	<section>
		<h2>Next Race</h2>
		<NextRace daysText="days" />
	</section>
</Layout>
