---
import Podium from '../components/Podium.astro';
import Layout from '../layouts/Layout.astro';
import '../styles/home.css'
---

<Layout title="F1-corner">
	<main>
		<h1>F1 Corner</span></h1>
		<section>
			<Podium first="Max verstappen" second="Checo Pérez" third="Fernando Alonso"/>
		</section>
	</main>
</Layout>

