---
import Layout from '../layouts/Layout.astro';
import Leaderboard from '../components/Leaderboard.astro';
import Podium from '../components/Podium.astro';
import {getCurrentDriverStandings} from '../api/standings'
import { getArticleImage } from '../api/wikipedia'

const standings = await getCurrentDriverStandings();
const driversInfo = await Promise.all(standings.map( async ({ Driver: driver, points})  => {
	const wikiUrlParts = driver.url.split('/');
	const wikiDriverName = wikiUrlParts[wikiUrlParts.length - 1];
	const imageUrl = await getArticleImage(wikiDriverName);
	return {
		name: `${driver.givenName} ${driver.familyName}`,
		points: points,
		image: imageUrl
	}
}))

---

<Layout title="Ranking">
	<h1>Ranking</h1>
	<section>
		<Podium first="Max verstappen" second="Checo Pérez" third="Fernando Alonso"/>
		<Leaderboard items={driversInfo}/>
	</section>
</Layout>

