---
import LanguagePicker from './LanguagePicker.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../i18n/utils';
import { Image } from "astro:assets";
import logo from "../../public/logo.svg";
import '../styles/nav.css'

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);

interface Link {
	href: string;
	text: string;
	links?: Link[];
}

const links: Link[] = [
	{ href: translatePath('/'), text: t('nav.home') },
	{ href: translatePath('/ranking'), text: t('nav.ranking'), links: [
		{href: translatePath('/ranking/drivers'), text: t('nav.ranking.drivers')},
		{href: translatePath('/ranking/constructors'), text: t('nav.ranking.constructors')}
	]},
	{ href: translatePath('/qualifying'), text: t('nav.qualifying') },
];
---

<header>
	<nav aria-label="Main menu">
		<input type="checkbox" id="nav-check">
        <a href={translatePath('/')} >
            <Image src={logo} alt="logo: man with a wheel" width="32" height="32"/>
        </a>
		<div class="nav-links">
			{
				links.map(({ href, text }) => (
					<a href={href} aria-current={href === Astro.url.pathname ? 'page' : undefined} rel="prefetch-intent" >
						<strong>{text}</strong>
					</a>
				))
			}
		</div>
		<div class="nav-btn">
			<label for="nav-check">
			  <span></span>
			  <span></span>
			  <span></span>
			</label>
		</div>
		<LanguagePicker currentLang={lang} />
        <ThemeToggle />
	</nav>
</header>