---
import "../styles/themeToggler.css";
---

<div id="themeToggler">
  <input
    type="checkbox"
    id="themeSwitch"
    name="theme-switch"
    class="theme-switch__input"
    aria-label="Theme toggle"
  />
  <label for="themeSwitch" class="theme-switch__label">
    <span></span>
  </label>
</div>

<script>
  const theme: string = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme")!;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  var isDarkMode = theme !== "light";

  const setTheme = function () {
    if (!isDarkMode) {
      (document.getElementById("themeSwitch") as HTMLInputElement).checked =
        false;
      document.documentElement.classList.remove("dark");
    } else {
      (document.getElementById("themeSwitch") as HTMLInputElement).checked =
        true;
      document.documentElement.classList.add("dark");
    }
  };

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    const element = document.documentElement;
    element.classList.toggle("dark");
    isDarkMode = !isDarkMode;
    localStorage.setItem("theme", isDarkMode ? "dark" : "light");
    setTheme();
  };

  setTheme();
  // Runs on view transitions navigation
  document.addEventListener("astro:after-swap", () => {
    setTheme();
    document
      .getElementById("themeSwitch")!
      .addEventListener("change", handleToggleClick);
  });

  document
    .getElementById("themeSwitch")!
    .addEventListener("change", handleToggleClick);
</script>
