---
import NextRace from '../../components/NextRaceInfo.astro';
import Layout from '../../layouts/Layout.astro';
import '../../styles/home.css'

---

<Layout title="F1-corner">
	<section>
		<h2>Próxima carrera</h2>
		<NextRace daysText="días" roundText="Ronda" dateText=""/>
	</section>
</Layout>
